<html>
  <head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131507661-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-131507661-1');
    </script>
    <title>ScumZone.com - Online Leaderboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <div id="main-content">
    <h1><span class="orange">Scum</span>Zone.com</h1>
    <p>We are a SCUM gaming community.
      <a href="https://discord.gg/HcyyEhD">Join our Discord</a>.</p>
    <p>This is a survival PvP leaderboard. It updates automatically.</p>
    <p class="whisper">Updated <%= updateTime %>.
      <em>(<%= updateDuration %>)</em></p>
    <table>
      <tr>
        <th class="center-text">Rank</th>
	<th class="center-text">Name</th>
	<th class="center-text">Skill</th>
	<th class="center-text">Kills</th>
	<th class="center-text">Deaths</th>
      </tr>
      <% ranks.forEach(function(p) { %>
        <tr>
	  <td class="center-text"><%= p.rank %></td>
	  <td class="center-text"><%= p.name %></td>
	  <td class="center-text orange"><%= p.elo %></td>
	  <td class="center-text"><%= p.kills %></td>
	  <td class="center-text"><%= p.deaths %></td>
	</tr>
      <% }); %>
    </table>
    <p><strong>Coming soon: PvP Zone!</strong></p>
    <p>Looking for a fight? The server will pick a different town every day.
      Kills inside the zone count on the leaderboard. You can still be killed
      outside the PvP Zone but it doesn't count towards your monthly total.</p>
    <p>This is a SCUM league. We keep the server size small so there is no
      lag. Top ranked players are auto-whitelisted so you can join even when
      the server is full. You will always know exactly where to find the
      action, since the server will randomly choose a new bunker/town for us
      to fight over every day.</p>
    <p>Rankings are based on the ELO system, like a chess tournament. Kills
      &amp; deaths are treated like wins &amp; losses. The scores reflect
      actual skill, not a simple kill-count or fame points.</p>
    </div>
  </body>
</html>
