<h2>ScumZone.com</h2>
<p>Check back soon for a better website. Launched Dec 24, 2018. Updates
  every hour automatically.</p>
<h3>Leaderboard</h3>
<ul>
<% ranks.forEach(function(p) { %>
  <li><%= p.name %> - <%= p.kills %> - <%= p.deaths %></li>
    <% }); %>
</ul>
<p>Updated <%= updateTime %> <emph>(<%= updateDuration %>)</emph></p>
